<div class="container">

    <%= form_tag(filter_vans_path, method: :get) do %>
      <label>Tags</label>
      <hr>
      <% Tag.all.each do |tag| %>
        <%= check_box_tag "tag_ids[]", tag.id %>
        <%= tag.title.capitalize %>
        <br>
      <% end %>
      <hr>
     <label>Filtres</label>
     <hr>
      <div class="form-check">
        <%= check_box_tag 'has_fridge', 1, params[:has_fridge], class: 'form-check-input' %>
        <%= label_tag 'has_fridge', 'Has Fridge', class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= check_box_tag 'has_wc', 1, params[:has_wc], class: 'form-check-input' %>
        <%= label_tag 'has_wc', 'Has WC', class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= check_box_tag 'has_shower', 1, params[:has_shower], class: 'form-check-input' %>
        <%= label_tag 'has_shower', 'Has Shower', class: 'form-check-label' %>
      </div>
      <div class="form-check mb-2">
        <%= check_box_tag 'is_manual_transmission', 1, params[:is_manual_transmission], class: 'form-check-input' %>
        <%= label_tag 'is_manual_transmission', 'Manual Transmission', class: 'form-check-label' %>
      </div>
     <div class="form-group">
        <%= label_tag 'van_year', 'Année' %>
        <%= select_tag 'van[year]', options_for_select((1930..Date.today.year).to_a.reverse, params.dig(:van, :year)), prompt: 'Année', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag 'order_start_date', 'Début de disponiblité' %>
        <%= date_field_tag 'start_date', params[:start_date], class: 'form-control' %>
        <%= label_tag 'order_end_date', 'Fin de disponibilité' %>
        <%= date_field_tag 'end_date', params[:end_date], class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag 'van_bed_number', 'Nombre de lit(s)' %>
        <%= select_tag 'van[bed_number]', options_for_select((1..10).to_a, params.dig(:van, :bed_number)), prompt: 'Nombre de lit(s)', class: 'form-control' %>
    </div>
     <div class="form-group">
        <%= label_tag 'van_brand', 'Marque' %>
        <%= text_field_tag 'van[brand]', params.dig(:van, :brand), prompt: 'Marque', placeholder: "Volkswagen, Renault...", class: 'form-control' %>
    </div>
     <div class="form-group">
        <%= label_tag 'van_city', 'Ville' %>
        <%= text_field_tag 'van[city]', params.dig(:van, :city), prompt: 'Ville', placeholder: "Paris, Montpellier, Vallon...", class: 'form-control' %>
    </div>




      <%= submit_tag 'Filtrer', class: 'btn btn-primary ml-3' %>
    <% end %>
</div>
