<%= render partial: 'layouts/banner'%>

<div class="container d-flex justify-content-center">
  <div class="logo-card">
    <%= image_tag("flexible.png", alt: "Logo 1", class: "logo-image") %>
    <p class="logo-text">Flexible</p>
    <p class="hover-text">Partez où vous voulez, quand vous voulez, avec le van que vous voulez ! </p>
  </div>
  <div class="logo-card">
    <%= image_tag("fiable.png", alt: "Logo 2", class: "logo-image") %>
    <p class="logo-text">Fiable</p>
    <p class="hover-text">Nous assurons un suivi constant des vans mis à votre disposition, pour garantir votre sécurité et votre confort.</p>
  </div>
  <div class="logo-card">
    <%= image_tag("fonctionnel.png", alt: "Logo 3", class: "logo-image") %>
    <p class="logo-text">Fonctionnel</p>
    <p class="hover-text">Mettez votre van en location, ou choisissez un van à louer parmi notre flotte ou celle de nos utilisateurs. </p>
  </div>
    <div class="logo-card">
    <%= image_tag("fun.png", alt: "Logo 4", class: "logo-image") %>
    <p class="logo-text">Fun</p>
    <p class="hover-text">Partez à l'aventure avec CaraVan sans avoir à acheter un véhicule. Un max de fun pour un minimum de dépense !  </p>
  </div>
  <div class="logo-card">
    <%= image_tag("france.png", alt: "Logo 5", class: "logo-image") %>
    <p class="logo-text">Français</p>
    <p class="hover-text">CaraVan est une application entièrement développée en France !</p>
  </div>
</div>

<div class="container">
  <div class="row p-5 m-5">
    <% if @visible_vans.count <= 6%>
      <% @visible_vans.sort_by(&:updated_at).reverse.each do |van| %>
        <div class="col-md-4 mb-4">
        <%= render partial: 'vans/van_card', locals: { van: van}  %>
        </div>
      <%end%>
    <% else %>
      <% @visible_vans[@visible_vans.length-6..@visible_vans.length].sort_by(&:updated_at).reverse.each do |van| %>
        <div class="col-md-4 mb-4">
          <%= render partial: 'vans/van_card', locals: { van: van}  %>
        </div>
      <% end %>
        <div style="display: block; margin: 0 auto;">
          <%= link_to "Voir plus de vans", full_index_vans_path, class:"btn btn-success btn-lg" %>
        </div>
    <%end%>
<%= javascript_include_tag 'index' %>
<%= stylesheet_link_tag 'van/index' %>
  </div>
</div>
