<%= render partial: 'layouts/banner' %>
<%= stylesheet_link_tag 'van/index', media: 'all' %>

<div class="container d-flex justify-content-center">
  <article class="logo-card">
    <%= image_tag("flexible.png", alt: "Logo Flexibilité", class: "logo-image") %>
    <h5 class="logo-text">Flexible</h5>
    <p class="hover-text">Partez où vous voulez, quand vous voulez, avec le van que vous voulez ! </p>
  </article>
  <article class="logo-card">
    <%= image_tag("fiable.png", alt: "Logo Fiable", class: "logo-image") %>
    <h5 class="logo-text">Fiable</h5>
    <p class="hover-text">Nous assurons un suivi constant des vans mis à votre disposition, pour garantir votre sécurité et votre confort.</p>
  </article>
  <article class="logo-card">
    <%= image_tag("fonctionnel.png", alt: "Logo Fonctionnel", class: "logo-image") %>
    <h5 class="logo-text">Fonctionnel</h5>
    <p class="hover-text">Mettez votre van en location, ou choisissez un van à louer parmi notre flotte ou celle de nos utilisateurs. </p>
  </article>
  <article class="logo-card">
    <%= image_tag("fun.png", alt: "Logo Fun", class: "logo-image") %>
    <h5 class="logo-text">Fun</h5>
    <p class="hover-text">Partez à l'aventure avec CaraVan sans avoir à acheter un véhicule. Un max de fun pour un minimum de dépense !  </p>
  </article>
  <article class="logo-card">
    <%= image_tag("france.png", alt: "Logo France", class: "logo-image") %>
    <h5 class="logo-text">Français</h5>
    <p class="hover-text">CaraVan est une application entièrement développée en France !</p>
  </article>
</div>

<section class="container mt-3">
  <div class="row justify-content-center">
    <% if @visible_vans.count <= 6 %>
      <% @visible_vans.sort_by(&:updated_at).reverse.each do |van| %>
        <div class="col-sm-12 col-md-6 col-lg-4" style="display:contents">
          <%= render partial: 'vans/van_card', locals: { van: van } %>
        </div>
      <% end %>
    <% else %>
      <% @visible_vans[@visible_vans.length-6..@visible_vans.length].sort_by(&:updated_at).reverse.each do |van| %>
        <div class="col-sm-12 col-md-6 col-lg-4" style="display:contents">
          <%= render partial: 'vans/van_card', locals: { van: van } %>
        </div>
      <% end %>
    <% end %>
    <div class="col-12 text-center mt-3">
      <%= link_to "Voir plus de vans", full_index_vans_path, class:"btn btn-success btn-lg" %>
    </div>
  </div>
</section>

<%= javascript_include_tag 'index' %>