<% if params[:error]%>
<div class="alert alert-danger">
  Le van n'est pas disponible à cette période
</div>
<%end%>
<div class="container">
  <div class="row">
    <div class="col-6" style="margin-top: 3em;">
      <div>
        <%if @van.photo.attached?%>
          <%= image_tag @van.photo, alt: 'Photo du van' %>
        <%else%>
          <p>=== Il n'y a pas encore de photo lié à ce van ===</p>
        <%end%>
      </div>
    </div>
    <div class="col-6" style="margin-top: 3em;">
      <div class="card border-primary mb-3" style="min-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title"><%= @van.title%></h4>
          <div class="card-text">
            <p>Ville : <%= @van.city %></p>
            <p> Description : <%= @van.description %>
          </div>
        </div>
      </div>
      <div>
          <%= render partial: 'vans/calendar'%>
      </div>
      <div>
        <hr>
        <%= form_with(url: url_for(controller: 'rentals', action: 'create', rental_id: @van.id), data: {turbo_frame: "valid_rental"} ) do |form| %>
        <p>début : <%= form.date_field :start %></p>
        <p>fin : <%= form.date_field :end %></p>
        <%= form.submit "Vérifier les disponibilités" %>
        <% end %>


          <% if @rental && @rental.valid? %>
          <p> Le van est bien disponible du <%= @rental.start_date%> au <%= @rental.end_date%> </p>
          <p> Souhaitez-vous le réserver ? </p>
          <button type="button" class="btn btn-secondary btn-lg" style="display: block; margin: 0 auto;">Réserver</button>
          <% end %>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="card border-primary mb-3 mr-5" style="min-width: 15rem;">
      <div class="card-header text-center">Caractéristiques</div>
      <div class="card-body">
        <p class="card-text">
        <p> marque : <%= @van.brand%> </p>
        <p> immatriculation : <%= @van.registration%> </p>
        <p> année : <%= @van.year %>
        <p> carburant : <%= @van.energy%></p>
      </div>
    </div>
    <div class="card border-primary mb-3" style="min-width: 15rem;">
      <div class="card-header text-center">Options</div>
      <div class="card-body">
        <div class="card-text">
        <p> nombre de lits : <%= @van.bed_number%> </p>
        <% if @van.has_wc == false%>
          <p> wc : non </p>
        <% else%>
          <p> wc : oui </p>
        <%end%>
        <% if @van.has_fridge == false%>
          <p> réfrigérateur : non </p>
        <% else%>
          <p> réfrigérateur : oui </p>
        <%end%>
        <% if @van.has_shower == false%>
          <p> douche : non </p>
        <% else%>
          <p> douche : oui </p>
        <%end%>
        </div>
      </div>
    </div>
  </div>


</div>
