<div class="container">
  <div class="row" style="padding-top:3%">
    <div class="col-4" style="display:flex; align-items:center">
      <h1>Modifier ton profil</h1>
    </div>

    <div class="col-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, class:" form-label mt-4" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :nom, class:" form-label mt-4" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :nouveau_mot_de_passe, class:" form-label mt-4" %> <i>(ne rien écrire, si tu ne souhaites pas le modifier)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :confirmation_mot_de_passe, class:" form-label mt-4" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :mot_de_passe_actuel, class:" form-label mt-4" %> <i>(nous avons besoin de ton mot de passe actuel pour effectuer le changement)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password",  class:"form-control"%>
        </div>
        <br>

        <div class="actions">
          <%= f.submit "Modifier", class:"btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="padding-top:12%">
  <div class="col-4" style="display:flex; align-items:center">
    <h1>Supprimer mon compte</h1>
  </div>
  <div class="col-8">
    <div >Mécontent ? <%= button_to "Supprimer mon compte",registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-secondary" %></div>
    <br>
    <%= link_to "Retour", :back %>
  </div>
</div>