<div class="container">
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-sm-4 col-m-4 col-lg-4" style="display:flex; align-items:center">
      <h1>Inscription</h1>
    </div>
     <div class="col-8" style="margin-top: 60px;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class:" form-label mt-4" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :mot_de_passe, class:" form-label mt-4" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :confirmation_du_mot_de_passe, class:" form-label mt-4" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <br>
        <div class="actions">
          <%= f.submit "S'inscrire", class:"btn btn-primary"%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
