<head>
  <link rel="stylesheet" href="viewsadmin.css">
</head>

<body>
  <table class="table table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Id</th>
        <th>Modèle</th>
        <th>Immatriculation</th>
        <th>Ville</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @vans.each do |van| %>
        <tr>
          <td><%= link_to van.id, van_path(van) %></td>
          <td><%= van.brand %></td>
          <td><%= van.registration %></td>
          <td><%= van.city %></td>
          <td>
            <%if van.is_hidden == false%>
              <%= button_to "Masquer",  hide_van_admins_van_path(van) , method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet utilisateur ?" }, class: "btn btn-danger" %>
            <%else%>
              <%= button_to "Montrer", hide_van_admins_van_path(van), method: :post, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet utilisateur ?" }, class: "btn btn-success" %> 
            <%end%>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>