<div class="card border-primary mb-3">
  <div class="card-body">
    <h2 class="card-title"><%= link_to myvan.title, van_path(myvan) %></h2>
    <h4>Référence de l'annonce: <%= myvan.id %></h4>
    <div class="card-text row">
      <div class="col-md-4">
        <%if myvan.photo.attached?%>
          <%= image_tag myvan.photo, alt: 'Photo du van - ' + myvan.title %>
        <%else%>
          <%= image_tag("no-picture.png", alt: "Photo indisponible", class: "logo-image") %>
        <%end%>
      </div>
      <div class="col-md-4">
        <p>Ville: <%= myvan.city %></p>
        <p>Description: <%= myvan.description %></p>
        <p>Prix: <%= myvan.price_per_day %>€/jour</p>
        </div>
      <div class="col-md-4">
        <%= link_to "Modifier l'annonce", edit_van_path(myvan), class: "btn btn-secondary" %>
        <br><br>
        <%= button_to "Supprimer l'annonce", hide_van_van_path(myvan), method: :post, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>