<section class="container mt-4">
  <div class="row justify-content-center">
    <article class="col-lg-5">
      <h1>Modifier le produit</h1>

      <%= form_for([:admins, @user]) do |form| %>

        <div class="form-group">
          <%= form.label :email, "Email" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :created_at, "Date de création" %>
          <%= form.datetime_local_field :created_at, class: "form-control" %>
        </div>

        <div class="form-group form-check">
          <%= form.check_box :is_admin, class: "form-check-input", id: "admin-checkbox" %>
          <%= form.label :is_admin, "Administrateur", class: "form-check-label", for: "admin-checkbox" %>
        </div>

        <%= form.submit "Modifier", class: "btn btn-primary" %>
      <% end %>
    </article>
  </div>
</section>

