<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Réservation de van</title>
  <link rel="stylesheet" href="van/index.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="viewsadmin.css">
</head>
<body>
  <header>
    <h2>Hello la team,</h2>
    <h1>Un nouveau van de notre flotte a été réservé !</h1>   
  </header>
  <main>
    <section>
      <h2>Détails de la réservation :</h2>
      <p><strong>Numéro de réservation :</strong> <%= @order.id %></p>
      <p><strong>Date de début de location :</strong> <%= @order.start_date %></p>
      <p><strong>Date de retour :</strong> <%= @order.end_date %></p>
      <p><strong>Montant total :</strong> <%= @order.total_price %> euros</p>
    </section>

    <section>
      <h2>Coordonnées de contact du client :</h2>
      <p><strong>ID_utilisateur :</strong> <%@order.customer.id %></p>
      <p><strong>Email :</strong> <%@order.customer.email %></p>
    </section>

    <section>
      <h2>Informations du van :</h2>
      <p><strong>Id_van :</strong> <%= @order.van.id %></p>
      <p><strong>Marque :</strong> <%= @order.van.brand %></p>
      <p><strong>Titre de l'annonce :</strong> <%= @order.van.title %></p>
      <p><strong>Plaque d'immatriculation :</strong> <%= @order.van.registration %></p>
    </section>
  </main>
  <footer>
    <p>A bientôt,</p>
    <p>L'équipe de CaraVan !</p>
  </footer>
</body>
</html>
