<link rel="stylesheet" href="viewsadmin.css">

<main class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Loueur</th>
          <th scope="col">Véhicule</th>
          <th scope="col">Date de débût</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Montant total</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.sort.reverse.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.customer_id %></td>
            <td><%= order.van_id %></td>
            <td><%= order.start_date.strftime('%Y-%m-%d')[0..9] %></td>
            <td><%= order.end_date.strftime('%Y-%m-%d')[0..9] %></td>
            <td><%= order.total_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
