<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">© 2023 Cara_van Company, Inc</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
   <%= image_tag('logo_caravan.png', alt: 'Logo', class: 'bi me-2', width: '60px', height: 'auto') %>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <%= link_to "Home", root_path, class: "nav-link px-2 text-muted"%>
    <%= link_to "Notre entreprise", static_pages_company_path, class: "nav-link px-2 text-muted"%>
    <%= link_to "Notre équipe", static_pages_team_path, class: "nav-link px-2 text-muted"%>
    <%= link_to "Contact", static_pages_contact_path, class: "nav-link px-2 text-muted"%>
    <%= link_to "FAQ", static_pages_faq_path, class: "nav-link px-2 text-muted"%>
  </ul>
</footer>