<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">© 2023 CaraVan Company, Inc</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <%= image_tag('logo_caravan.png', alt: 'Logo CaraVan', class: 'bi me-2', width: '60px', height: 'auto') %>
  </a>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link px-2 text-muted" %></li>
    <li class="nav-item"><%= link_to "Notre entreprise", caravan_path, class: "nav-link px-2 text-muted" %></li>
    <li class="nav-item"><%= link_to "Notre équipe", l_equipe_path, class: "nav-link px-2 text-muted" %></li>
    <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link px-2 text-muted" %></li>
    <li class="nav-item"><%= link_to "FAQ", faq_path, class: "nav-link px-2 text-muted" %></li>
    <li class="nav-item"><%= link_to "Mentions légales", mentions_legales_path, class: "nav-link px-2 text-muted" %></li>
  </ul>
</footer>
