<nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
  <%= link_to root_path, class: "navbar-brand text-white stick" do %>
    <%= image_tag('logo_caravan.png', alt: 'Logo CaraVan', class: 'bi me-2', width: '32') %>  CaraVan
  <% end %> 
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><%= image_tag('logo_caravan.png', alt: 'Logo CaraVan', class: 'bi me-2', width: '32') %> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <li class="nav-item">
            <a class="btn btn-primary" href="<%= user_path(current_user) %>">Mon Profil</a>
            <a class="btn btn-primary" href="<%= admins_vans_path %>">Dashboard</a>
            <a class="btn btn-primary" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Déconnexion</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="btn btn-primary" href="<%= user_path(current_user) %>">Mon Profil</a>
            <a class="btn btn-primary" href="<%= destroy_user_session_path %>" data-turbo-method="delete">Déconnexion</a>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Inscription", new_user_registration_path, class: "nav-link text-white", style: "margin-left:20px" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>